div.login-page {
  background-repeat: no-repeat;
  background-color: #b8e5f8;
  background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-image: url("../../assets/image/sign_bg.png");

  div.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    button.download {
      background: #8590a6;
      width: 432px;
      height: 42px;
      padding: 0px;
      margin-top: 30px;
      color: white;
    }
  }

}
