:host{
  background: white;
  display: block;
  width: 100%;

  div.container {
    width: 970px;
    margin: 0 auto;
    padding: 15px 20px;

    div.title{
      width: 667px;
      margin-top: 12px;
      margin-bottom: 4px;
      font-size: 22px;
      font-weight: 600;
      font-synthesis: style;
      line-height: 32px;
      color: #1a1a1a;
    }

    div.content{
      font-size: 15px;
      color: #1a1a1a;
    }
  }
}
