mat-card{
  width: 432px;
  margin: 0 auto;
  display: block;
  background: white;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0px;
  mat-card-header {
    display: block;
    text-align: center;
  }
  mat-card-title, mat-card-subtitle {
    user-select: none;
    color: #0084ff;
  }
  mat-card-title {
    font-size: 72px;
    font-weight: bold;
  }
  mat-card-subtitle{
    font-size: 22px;
  }
  mat-card-content{
    text-align: left;

    mat-form-field.password-input, mat-form-field.number-input {
      width: 100%;
    }
  }

  div.login-content, mat-card-actions{
    margin-left: 40px;
    margin-right: 40px;
  }

  mat-card-actions{
    display: block;
    margin-bottom: 16px!important;
    button.login {
      width: 100%;
    }

    p.contract {
      font-size: 14px;
      color: #8590a6;
      text-align: center;
    }
  }

  div.bottom {
    width: 100%;
    height: 59px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    a{
      color: #175199;
      text-decoration: none;
    }
  }
}
