<mat-card>
  <mat-card-header>
    <mat-card-title>十年</mat-card-title>
    <mat-card-subtitle>登录十年，发现更大的世界</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="login-content">
      <mat-form-field class="number-input">
        <input matInput type="tel" placeholder="手机号" [(ngModel)]="number" (ngModelChange)="onNumberChanged($event)" required>
      </mat-form-field>
      <mat-form-field class="password-input">
        <input matInput type="password" placeholder="密码" [(ngModel)]="password" (ngModelChange)="onPasswordChanged($event)" required>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button class="login" mat-raised-button color="primary" (click)="onLogin()">登录</button>
    <p class="contract">二维码登录</p>
  </mat-card-actions>
  <div class="bottom">
    没有帐号？<a routerLink="/signup">注册</a>
  </div>
</mat-card>
