:host{
  button.upvote {
    outline: none;
    border-radius: 3px;
    line-height: 30px;
    appearance: none;
    padding: 0px 12px;
    color: #0084ff;
    background-color: rgba(0,132,255,.1);
    border-color: transparent;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.5s ease-out;
    >svg{
      vertical-align: text-bottom;
      line-height: 30px;
      fill: #0084ff;
      margin-right: 8px;
    }
    &:hover{
      background-color: rgba(0,132,255,.15);
    }

    &.active {
      background-color: #0084ff;
      color: white;
      >svg{
        fill: white;
      }
    }
  }
}
