:host {
  >h1 {
    margin-top: 16px;
    margin-bottom: 0px;
    font-size: 24px;
    text-align: center;
  }
  >h4{
    font-size: 14px;
    color: #8590a6;
    text-align: center;
    margin-bottom: 0px;
  }

  div.mat-dialog-content {
    padding-bottom: 4px;

    mat-form-field.title-input{
      width: 100%;
    }

    div.question-content{
      margin-top: 30px;
    }
  }

  div.mat-dialog-actions {
    padding-top: 40px;
    padding-bottom: 48px;

    button.submit{
      width: 232px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
