<a class="title" [routerLink]="['/question', data.question.id]">{{data.question.title}}</a>
<app-content-viewer *ngIf="data.answer" [(ngModel)]="showFullContent" [excerpt]="data.answer.excerpt" [content]="data.answer.content" [scrollable]="true" [fontSize]="14"></app-content-viewer>
<div *ngIf="data.answer" class="action-container">
  <app-upvote-button [lineHeight]="26" (click)="onUpvoteButtonClicked()" [count]="data.answer.upvote_count" [active]="data.user_answer_relationship.upvoted"></app-upvote-button>
  <app-downvote-button [lineHeight]="26"  (click)="onDownvoteButtonClicked()" [active]="data.user_answer_relationship.downvoted"></app-downvote-button>
  <app-assemble-button *ngIf="showFullContent" (click)="showFullContent=false"></app-assemble-button>
</div>
<mat-divider></mat-divider>
