:host{
  background: #fff;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  box-sizing: border-box;
  display: block;
  div.cover {
    position: relative;
    width: 100%;
    height: 240px;
    background-size: cover;
    background-color: #f6f6f6;

    button.cover-edit-button{
      position: absolute;
      top: 24px;
      right: 24px;
      z-index: 2;
      border-radius: 3px;
      appearance: none;
      display: inline-block;
      padding: 0 16px;
      font-size: 14px;
      line-height: 32px;
      color: #8590a6;
      text-align: center;
      transition: color,border-color .3s;
      background: none;
      border: 1px solid;
      cursor: pointer;

      &:hover{
        background: hsla(0,0%,100%,.04);
      }

      svg{
        margin-right: 6px;
        vertical-align: text-bottom;
        fill: hsla(0,0%,100%,.7);
      }
    }
    app-cover-editor{
      z-index: 1;
    }
  }
  div.info-container{
    width: 100%;
    height: 142px;
  }
}
