:host{
  position: relative;
  background: #fff;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  box-sizing: border-box;
  display: block;
  div.cover {
    position: relative;
    width: 100%;
    height: 240px;
    background-size: cover;
    background-color: #f6f6f6;
    transition: background-image 1s ease-in-out;

    button.cover-edit-button{
      position: absolute;
      top: 24px;
      right: 24px;
      z-index: 2;
      border-radius: 3px;
      appearance: none;
      display: inline-block;
      padding: 0 16px;
      font-size: 14px;
      line-height: 32px;
      color: #8590a6;
      text-align: center;
      transition: color,border-color .3s;
      background: none;
      border: 1px solid;
      cursor: pointer;

      &:hover{
        background: hsla(0,0%,100%,.04);
      }

      svg{
        margin-right: 6px;
        vertical-align: text-bottom;
        fill: hsla(0,0%,100%,.7);
      }
    }
  }
  app-cover-editor{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;
  }
  div.info-container{
    width: 100%;
    height: 168px;
    position: relative;

    div.avatar-container{
      position: absolute;
      background: white;
      border: 4px solid #fff;
      border-radius: 8px;
      left: 20px;
      top: -25px;
      img.avatar{
        border-radius: 6px;
      }
    }

    div.detail-container{
      margin-left: 184px;
      padding-top: 16px;
      padding-left: 32px;

      span.name{
        font-size: 26px;
        font-weight: 600;
        font-synthesis: style;
        line-height: 30px;
        white-space: nowrap;;
      }

      span.description{
        margin-left: 12px;
        font-size: 18px;
        white-space: nowrap;
      }
    }
  }
}
