<mat-card>
    <span class="source">热门内容，来自：<a class="topic-link" [routerLink]="['/topic', data.topic.id]">{{data.topic.name}}</a></span>
    <div class="author">
      <img class="avatar" src="{{data.answer.user.avatar}}" alt="" width="24" height="24">
      <span class="name">{{data.answer.user.name}}</span>
      <span class="description">{{data.answer.user.description}}</span>
    </div>
    <h2 class="title">
      <a [routerLink]="['/']">{{data.question.title}}</a>
    </h2>
    <div class="excerpt" [innerHTML]="data.answer.excerpt">
    </div>

    <div class="action-container">
      <button aria-label="赞同" type="button" class="like">
        <svg viewBox="0 0 20 18" class="Icon VoteButton-upIcon Icon--triangle" style="height: 16px; width: 9px;" width="9" height="16" aria-hidden="true"><title></title><g><path d="M0 15.243c0-.326.088-.533.236-.896l7.98-13.204C8.57.57 9.086 0 10 0s1.43.57 1.784 1.143l7.98 13.204c.15.363.236.57.236.896 0 1.386-.875 1.9-1.955 1.9H1.955c-1.08 0-1.955-.517-1.955-1.9z"></path></g></svg>
        {{data.answer.like_count}}
      </button>
      <button aria-label="反对" type="button" class="dislike">
        <svg viewBox="0 0 20 18" class="Icon VoteButton-downIcon Icon--triangle" style="height: 16px; width: 9px;" width="9" height="16" aria-hidden="true"><title></title><g><path d="M0 15.243c0-.326.088-.533.236-.896l7.98-13.204C8.57.57 9.086 0 10 0s1.43.57 1.784 1.143l7.98 13.204c.15.363.236.57.236.896 0 1.386-.875 1.9-1.955 1.9H1.955c-1.08 0-1.955-.517-1.955-1.9z"></path></g></svg>
      </button>
    </div>
</mat-card>
