:host{
  display: block;

  mat-card{
    padding: 15px 20px;
    span.source {
      color: #8590a6;
      font-size: 15px;
      margin-bottom: 8px;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
    div.author {
      height: 24px;
      img.avatar {
        vertical-align: middle;
      }
      span.name{
        font-size: 15px;
        margin-bottom: auto;
        vertical-align: middle;
      }
      span.description{
        font-size: 14px;
        color: #646464;
        vertical-align: middle;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 300px;
        display: inline-block;
      }
    }
    h2.title{
      font-size: 18px;
      font-weight: 600;
      font-synthesis: style;
      line-height: 1.6;
      color: #1a1a1a;

      a{
        text-decoration: none;
        color: #1a1a1a;
        transition: color 0.3s ease-out;
        &:hover {
          color: #175199;
        }
      }
    }
    div.excerpt {
      font-size: 15px;
    }

    div.action-container{
      padding-top: 10px;
      button.upvote, button.downvote {
        outline: none;
        border-radius: 3px;
        line-height: 30px;
        appearance: none;
        padding: 0px 12px;
        color: #0084ff;
        background-color: rgba(0,132,255,.1);
        border-color: transparent;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        transition: background-color 0.5s ease-out;
        >svg{
          vertical-align: text-bottom;
          line-height: 30px;
          fill: #0084ff;
        }
        &:hover{
          background-color: rgba(0,132,255,.15);
        }
        &::-moz-focus-inner {
          outline: none;
          border: 0;
        }

        &.active {
          background-color: #0084ff;
          color: white;
          >svg{
            fill: white;
          }
        }
      }
      button.upvote {
        >svg{
          margin-right: 8px;
        }
      }
      button.downvote{
        margin-left: 4px;
        >svg{
          transform: rotate(180deg);
        }
      }
    }
  }
}
