:host{
  display: block;

  mat-card{
    padding: 15px 20px;
    span.source {
      color: #8590a6;
      font-size: 15px;
      margin-bottom: 8px;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
    div.author {
      height: 24px;
      img.avatar {
        vertical-align: middle;
      }
      span.name{
        font-size: 15px;
        margin-bottom: auto;
        vertical-align: middle;
      }
      span.description{
        font-size: 14px;
        color: #646464;
        vertical-align: middle;
      }
    }
    h2.title{
      font-size: 18px;
      font-weight: 600;
      font-synthesis: style;
      line-height: 1.6;
      color: #1a1a1a;

      a{
        text-decoration: none;
        color: #1a1a1a;
        transition: color 0.3s ease-out;
        &:hover {
          color: #175199;
        }
      }
    }
    div.description {
      font-size: 15px;
    }
  }
}
