@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  overflow: hidden;
  margin: 0;
}

*:not(mat-icon) {
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif!important;
}