:host{
  width: 694px;
  display: block;
  background: #fff;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
  box-sizing: border-box;
  margin-top: 10px;

  app-search-question-card, app-search-question-loader{
    margin: 16px 20px;
  }
}
